{% extends "layout/base.html" %}
{% load static %}


{% block body %}
<main id="main">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Chefs</h2>
            <p>Our Proffesional Chefs</p>
          </div>
  
          <div class="row">
            {% for chefs in chef %}
            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <img src="{{ chefs.picture.url }}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>{{ chefs.name }}</h4>
                    <span>{{ chefs.designation }}</span>
                  </div>
                  <!-- <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
  
        </div>
      </section><!-- End Chefs Section -->
</main>

{% endblock body %}