{% extends "layout/base.html" %}
{% load static %}


{% block body %}
<main id="main">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <br>
    <br>
    <br>
    <br>
    <br>
<!-- ======= Gallery Section ======= -->

{% if gallery %}
<section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Gallery</h2>
        <p>Some photos from Our Restaurant</p>
      </div>
    </div>
    
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      
      <div class="row g-0">
        {% for gal in gallery %}

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            
            <a href="{{ gal.picture.url }}" class="gallery-lightbox" data-gall="gallery-item">
              <img src="{{ gal.picture.url }}" alt="{{ gal.title }}" class="img-fluid">
            </a>
            
          </div>
        </div>
        {% endfor %}
        

      </div>
      

    </div>
    
  </section><!-- End Gallery Section -->
  {% endif %}
</main>

{% endblock body %}