<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="light-text">Bienvenue à <span>Indian Garden</span> à Lille </h1>
          
          <h2>Bienvenue à Indian Garden, où nous apportons les saveurs riches et le patrimoine culturel de l'Inde sur votre assiette. Notre menu propose une variété de plats authentiques soigneusement préparés avec les ingrédients les plus frais. Des épices aromatiques de nos curry aux croûtes croustillantes de nos samosas, chaque bouchée est un voyage à travers le goût et la tradition de l'Inde. Venez dîner avec nous et plongez-vous dans l'atmosphère chaleureuse et accueillante d'Indian Garden. Laissez-nous partager notre passion pour la cuisine indienne avec vous!</h2>

          <div class="btns">
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">réservation</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">livraison</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">à emporter</a>
            <!-- <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a> -->
            
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          
          <img class="image-hero " src="/static/assets/img/hero.jpg" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Hero -->