
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg ">
  <div class="container " data-aos="fade-up">


    <div class="section-title">
      <h2>Menu</h2>
      <p>Consultez notre savoureux menu</p>
    </div>

    
<div class="row">
    
    <div class="col-lg-2 col-sm-2 col-md-2 align-items-center">
    <div data-aos="fade-up" data-aos-delay="100">
      
        <ul id="menu-flters" class="list-group">
          <br>
          <br>
          
          <li data-filter="*" class="filter-active">All</li>
          <hr>
          <li data-filter=".filter-Entrées">Nos Entrées</li>
          <hr>
          <li data-filter=".filter-Nans">Nos Nans</li>
          <hr>
          <li data-filter=".filter-Paratha">Nos Paratha</li>
          <hr>
          <li data-filter=".filter-Biriyani">Nos Biriyani</li>
          <hr>
          <li data-filter=".filter-Poulets">Nos Poulets</li>
          <hr>
          <li data-filter=".filter-Plats">Nos Plats</li>
          <hr>
          <li data-filter=".filter-Menu">MENU</li>
          <hr>
          <li data-filter=".filter-Poulets">Nos Poulets</li>
          <hr>
          <li data-filter=".filter-légumes">Nos légumes</li>
          <hr>
          <li data-filter=".filter-Crustacés">Nos Crustacés</li>
          <hr>
          <li data-filter=".filter-Viandes">Nos Viandes</li>
          <hr>
          <li data-filter=".filter-Frites">Nos Frites</li>
          <hr>
          <li data-filter=".filter-sauces">Nos sauces</li>
          <hr>
          <li data-filter=".filter-desserts">Nos desserts</li>
          <hr>
          <li data-filter=".filter-Boisson">Nos Boisson</li>
          <hr>
          <li data-filter=".filter-Cocktails">Nos Cocktails</li>
          <hr>
          <li data-filter=".filter-Lassis">Nos Lassis</li>
          <hr>
          <li data-filter=".filter-Chaudes">Nos Boissons Chaudes</li>
          <hr>
          <li data-filter=".filter-Café">Café</li>
          <hr>
          
        </ul>
      </div>
    
  </div>

  <div class="col-lg-10 col-sm-10 col-md-10">
    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
      {% for menu in data %}
      <div class="col-lg-6 menu-item filter-{{ menu.item_type }}">
        <img src="{{ menu.thumbnail.url }}" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">{{ menu.name }}</a><span>{{ menu.price }}</span>
        </div>
        <div class="menu-ingredients">
          {{ menu.description }}
        </div>
      </div>
      {% endfor %}

     

    </div>
    </div>
  </div>
  </div>
</section><!-- End Menu Section -->